@import url('https://fonts.googleapis.com/css2?family=Allison&family=Poppins:wght@500&display=swap');

*, html, body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', arial, helvetica, sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
:root {
    --dark: black;
    --info-dark: #7d8da1;
    --light: rgba(132, 139, 200, 0.18);
    --info-light: #dce1eb;
    --white: white;
    --hijau-gelap1: rgba(9, 60, 88);
    --hijau-gelap2: rgba(14, 34, 56);
    --white-dark: rgba(240, 240, 240);
    --birugelap : rgba(55, 138, 164, 1);
    --birucerah : rgba(159, 225, 245);
    --hover : rgba(102, 163, 186);
}
.fcontainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* height: 5000px; */
  /* background-color: aqua; */
}

.navbar {
  width: 100%;
  background-color: transparent;
  position: fixed;
  z-index: 9999;
}
nav {
  display: flex;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
  background-color: transparent;
}
nav .logo {
  text-align: center;
}
nav #lg1 {
    color: var(--birucerah);
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 1.5em;
}
nav #lg2 {
    color: var(--birucerah);
    font-family: 'Allison';
    font-weight: 600;
    font-size: 2em;
}
nav ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 40%;
}

nav .tools {
  display: flex;
  justify-content: space-between;
  gap: 1.5em;
}

nav .search {
    margin-right: 2vh;
    position: relative;
    width: 40px;
    height: 30px;
    background-color: var(--white-dark);
    display: flex;
    justify-content: space-between;
    transition: .5s;
    overflow: hidden;
    color: var(--black);
    box-shadow: 0 25px 35px rgba(0, 0, 0, 0.1); 
    border-radius: 15px;
    /* border: .5px solid   var(--black); */
}

nav .search .searchIcon {
    position: relative;
    min-width: 40px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    font: size 1.5em ;
    cursor: pointer;
}
nav .search.search-active {
    width: 300px; 
    
}

nav .search .close {
    position: relative;
    width: 40px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font: size 1.25em ;
    cursor: pointer;
    scale: 0;
    transition: .5s;
    
}

nav .search.search-active .close{
    scale: 1;
    transition-delay: .5s;
}

nav .search .searchInput {
    position: absolute;
    left: 40px;
    width: calc(100%-20vh);
    height: 100%;
    line-height: 40px;
}

nav .search .searchInput input {
    position: absolute;
    font-size: 13px;
    width: 230px;
    height: 100%;
    border: none;
    outline: none;
    background-color: var(--white-dark);
}
.header-container {
  position: relative;
  overflow: hidden;
  z-index: -1;
}
.banner {
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: url(src/img/bg1.png);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position:top right;
  justify-content: space-around;
  align-items: center;
  
}
.banner .text {
  background-color: transparent;
  width: 40%;
  height: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 1vw;
  
}
.text span {
  font-family: 'Poppins';
  font-weight: 800;
  font-size: 2em;
  gap: 0;
  overflow-y: hidden;
}
.text p {
  margin-top: 10px;
  margin-bottom: 10px;
  overflow-y: hidden;
}
.banner .text .btn_all-produk {
  width: 150px;
  overflow-y: hidden;
  z-index: 2;
  background-color: var(--hijau-gelap1);
  color: var(--white);
}
.bg1 img{
  /* position: relative; */
  max-width: 600px;
  max-height: 600px;
  float: right;
  justify-content: end;
  /* opacity: 0; */
}
.header-container #img1 {
  position: absolute;
  width: 100vw;
  height: 500px;
  bottom: 1px;
  z-index: 1;
  object-fit: cover;
}
.slogan {
  /* display: flex; */
  width: 100%;
  height: 100vh;
  max-height: 200vh;
  background-color: var(--white) ;
  position: relative;
  margin-top: 0;
  overflow-y: hidden;
}

.slogan #img2 {
  position: absolute;
  width: 100vw;
  height: 400px;
  /* top: 0; */
  transform: rotate(180deg);
  z-index: 1;
  object-fit: cover;
}

.slogan-content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  z-index: 2;
  position: absolute;
  bottom: 0%;
}
.slogan-content .card {
  width: 350px;
  height: 400px;
  background-color: var(--birucerah);
  border-radius: 50% 50% 0 0;
  display: flex;
  flex-direction: column;
}

.slogan-content .card img {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  width: 150px;
  height: 150px;
}
.slogan-content .card h4 {
  text-align: center;
  margin-bottom: 1.3rem;
}
.slogan-content .card p {
  text-align: center;
  margin-bottom: 1.3rem;
  margin-left: 1.3rem;
  margin-right: 1.3rem;
}

.about-us {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: var(--hijau-gelap1);
  width: 100%;
  min-height: 100vh;
  color: var(--white);
  text-align: center;
}

.about-us h1{
  margin-top: 10%;
}
.about-us p {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
} 

.produk {
  width: 100%;
  min-height: 100vh;
  background-color: var(--birucerah);
}

.bottom {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100vh;
  background-color: var(--white);
}
.bottom .teks {
  margin-top: auto;
  margin-left: 5%;
}
.bottom .teks h1{
  margin-bottom: 3rem;
}
.bottom .teks p{
  width: 50%;
}

.bottom .ornamen{
  margin-top: auto;
}
.bottom .slice {
  width: 100%;
  height: 3rem;
  background-color: var(--hijau-gelap1);
}
.bottom .bottom-bot {
  width: 100%;
  height: 200px;
  background-color: var(--hijau-gelap1);
  margin-top: 0.1rem;
}