@import url('https://fonts.googleapis.com/css2?family=Allison&family=Poppins:wght@500&display=swap');

*, html, body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', arial, helvetica, sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
:root {
    --dark: black;
    --info-dark: #7d8da1;
    --light: rgba(132, 139, 200, 0.18);
    --info-light: #dce1eb;
    --white: white;
    --hijau-gelap1: rgba(9, 60, 88);
    --hijau-gelap2: rgba(14, 34, 56);
    --white-dark: rgba(240, 240, 240);
    --birugelap : rgba(55, 138, 164, 1);
    --birucerah : rgba(159, 225, 245);
    --hover : rgba(102, 163, 186);
}
.fcontainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  background-color: aqua;
  /* height: 5000px; */
  /* background-color: aqua; */
}
nav{
  background-color: var(--dark);
  color: var(--white);
  fill: var(--white);
  width: 100%;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  padding-left: 1em;
  padding-right: 1em;
}
nav .logo {
  text-align: center;
}
nav #lg1 {
    color: var(--birucerah);
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 1em;
}
nav #lg2 {
    color: var(--birucerah);
    font-family: 'Allison';
    font-weight: 600;
    font-size: 1.2em;
}
nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a{
  text-decoration: none;
}

nav .tools {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}
nav .sub-menu-wrap{
  position: absolute;
  z-index: 999;
  top: 80%;
  left: 82%;
  width: 320px;
}